*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
}
.logo{
    margin-left: 2rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border-radius: 45px;
}
.logo-title{
    padding: 7px;
    color: rgb(155, 94, 51);
}
.logo-large img{
    border-radius: 16rem;
}
.shopping{
    position: relative;
    margin-right: 4rem;
    cursor: pointer;
}
.shopping img{
    width: 40px;
}
.shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.foodZone-btn-orderNow{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

.card img{
    width: 100%;
    height: 20rem;
}
.search-field{
    color: rgb(249, 6, 6);
    display: none;
}
.display-text{
    color: rgb(249, 6, 6);
    display: none;
}
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;

}
.none{
    display: none;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listCart .item img{
    margin-top: 10px;
    width: 80%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart.container-main {
    transform: translateX(-250px); 
}
.container-main{
    transition: transform .5s;
}